<div class="container-fluid bg-dark text-white p-4">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <!-- Logo con enlace a la página de inicio -->
            <a routerLink="/" class="me-2">
                <img src="assets/logo.png" alt="Logo Barbería" height="40" />
            </a>
            <h1 class="h3 mb-0">Barbería Elegante</h1>
        </div>

        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/acerca-de" routerLinkActive="active">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/contacto" routerLinkActive="active">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/agendar" routerLinkActive="active">Agendar</a>
                </li>
            </ul>
        </nav>
    </header>


    <router-outlet></router-outlet>