<section class="mb-5" id="acerca">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="bg-secondary bg-opacity-75 text-white p-4 rounded shadow-lg">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <h2 class="h4">Sobre Nosotros</h2>
                        <p>
                            Somos una barbería moderna dedicada a resaltar tu estilo personal. Ofrecemos cortes clásicos y modernos, afeitados y tratamientos para el cabello y la barba.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>