<section class="mb-5" id="acerca">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="acerca-container text-center">
                <h2 class="acerca-title">Sobre Nosotros</h2>
                <p class="acerca-text">
                    Somos una barbería moderna dedicada a resaltar tu estilo personal. Ofrecemos cortes clásicos y modernos, afeitados y tratamientos para el cabello y la barba.
                </p>
            </div>
        </div>
    </div>
</section>