html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c1c1e;
    /* mismo color del navbar y "Sobre Nosotros" */
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}